html {
  box-sizing: border-box;
  font-family: Open Sans, Raleway, sans-serif;
  font-size: 16px;
}

.conteiner {
  margin: 0 auto;
  width: 1352px;
}
@media (max-width: 1352px) {
  .conteiner {
    width: 100%;
  }
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
}

.conteiner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav {
  box-shadow: 0 3px 6px #00000029;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

#hamburger {
  opacity: 1;
  position: absolute;
  left: -9999px;
}

.hamburger {
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: flex;
  align-self: center;
  position: relative;
  margin-right: 20px;
}

.hamburger_icon::before, .hamburger_icon::after, .hamburger_icon {
  width: 18px;
  height: 2px;
  background: #08A6E4;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  transition: 0.3s all linear;
}

.hamburger_icon {
  position: relative;
}
.hamburger_icon::before, .hamburger_icon::after {
  content: "";
  position: absolute;
}
.hamburger_icon::before {
  top: -5px;
}
.hamburger_icon::after {
  top: 5px;
}
.hamburger_icon:hover::before {
  transform: rotate(90deg);
  top: 0;
  transition: 0.3s all linear;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger:hover .hamburger_icon {
  transform: rotate(45deg);
}
.hamburger:hover .hamburger_icon::before {
  transform: rotate(90deg);
  top: 0;
  transition: 0.3s all linear;
}
.hamburger:hover .hamburger_icon::after {
  transform: rotate(1deg);
  top: 0;
  transition: 0.3s all linear;
}

.logo {
  padding: 16px 0 16px 25px;
  font-size: 2rem;
  text-decoration: none;
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 300;
}

.menu {
  display: none;
  box-shadow: rgba(7, 172, 230, 0.16);
  background-color: #FFFFFF;
  letter-spacing: 3px;
}

#hamburger:checked ~ .menu {
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100vw;
  padding-left: 20px;
}

.menu_list-li {
  font-size: 0.8rem;
  padding: 0 3px;
  margin: 0 25px;
  display: flex;
  align-items: center;
}
.menu_list-li a {
  font-family: "Open Sans";
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: none;
  padding: 25px 0;
}
.menu_list-li .listA {
  color: #000000;
}

.baner .conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
}

.baner_nag {
  font-size: 2.2rem;
  font-family: Raleway;
  color: #000000;
}

.baner_nag-txt {
  font-size: 1rem;
  font-family: "Open Sans";
  color: #000000;
  padding: 20px 100px;
  line-height: 25px;
}

.baner_btn {
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 0 92px;
  background-color: #08A6E4;
  border-radius: 30px;
  color: #FFFFFF;
  margin: 30px 10px 0 10px;
  text-decoration: none;
}

.baner img {
  width: 100%;
  padding-top: 80px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: block;
    box-shadow: none;
    padding-right: 30px;
  }
  .menu .menu_list {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .menu .menu_list .menu_list-li {
    border-bottom: 4px solid transparent;
  }
  .menu .menu_list .menu_list-li:hover {
    border-color: #08A6E4;
  }
  .menu .menu_list a:hover {
    color: #000000;
  }
}
@media (min-width: 990px) {
  .baner_btn {
    padding: 0;
  }

  .section_nag-txt {
    padding-top: 20px;
  }

  .section_box {
    padding: 0 90px;
  }

  .conteiner .section_box-basic {
    padding-top: 101px;
    display: flex;
    justify-content: center;
  }
}
section .conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 13px auto;
  padding-bottom: 50px;
}

.section_nag-txt {
  font-family: Raleway;
  font-size: 1.9rem;
  line-height: 2.2rem;
}

.section_img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #FB3B64;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}
.section_img img {
  position: absolute;
  top: 0;
  right: -15%;
}

.boxS_two {
  background-color: #08A6E4;
}
.boxS_two img {
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translateY(-50%);
}

.boxS_three {
  background-color: #55DFB4;
}
.boxS_three img {
  position: absolute;
  top: 5px;
  right: -30%;
}

.section_nag {
  font-family: Raleway;
  font-size: 1.25rem;
  padding-top: 14px;
  font-weight: 800;
  color: #000000;
}

.section_text {
  font-family: Raleway;
  font-size: 1rem;
  padding-top: 20px;
  color: #A5A5A5;
}

@media (min-width: 768px) {
  .baner_btn {
    width: 30%;
    margin: 0 auto;
  }

  .section_box-basic {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}
main {
  background-color: #F7F7F7;
}

main .conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.conteiner .main_box {
  width: 70%;
  background-color: #FFFFFF;
  margin-top: 40px;
  text-align: center;
}
.conteiner .main_box img {
  width: 100%;
  margin-top: 40px;
}

.main_nag {
  font-family: Raleway;
  font-size: 1.9rem;
  color: #000000;
  text-align: left;
  line-height: 30px;
  padding: 20px 30px 0 15px;
}

.main_txt {
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 20px 30px 20px 15px;
  color: #000000;
  line-height: 25px;
  text-align: left;
}

.main_img {
  position: relative;
  z-index: 999999;
}
.main_img .img_baner {
  width: 100px;
  height: 100px;
  background-color: #FB3B64;
  border-radius: 40%;
  position: absolute;
  top: 20px;
  right: 2%;
  transform: rotate(45deg);
  z-index: -1;
}

.img_baner-twoo {
  width: 50%;
  height: 82%;
  background-color: #08A6E4;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 35%;
  z-index: -1;
}

.Trumpet {
  background-color: #55DFB4;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.Trumpet img {
  width: 100%;
  padding-top: 20px;
}

.main_box-three {
  border: none;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .main_box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 0 1rem #A5A5A5;
  }

  .main_img {
    width: 433px;
    height: 294px;
    order: 1;
  }

  .main_one {
    height: 60%;
    width: 60%;
    line-height: 22px;
  }

  .img_baner {
    left: 53%;
  }

  .img_baner-twoo {
    width: 72%;
    height: 72%;
    left: 40px;
  }

  .line_one {
    border-bottom: 2px solid #FB3B64;
    width: 80%;
    margin-left: 15px;
  }

  .line_two {
    border-bottom: 2px solid #08A6E4;
    width: 80%;
    margin-left: 15px;
  }

  .line_three {
    border-bottom: 2px solid #55DFB4;
    width: 260px;
    margin-left: 15px;
  }

  .main_nag {
    padding: 0 0 0 20px;
  }

  .main_txt {
    padding: 20px 0 20px 15px;
  }

  .main_img {
    height: 100%;
    width: 40%;
  }

  .main_Trumpet {
    width: 60%;
  }
  .main_Trumpet .main_txt {
    width: 320px;
  }
  .main_Trumpet .main_nag {
    width: 320px;
  }

  .main_box-two .main_img {
    order: -1;
  }
  .main_box-two .main_nag {
    padding-right: 20px;
  }
  .main_box-two .main_txt {
    padding-right: 20px;
  }
}
@media (min-width: 990px) {
  .main_box .main_txt {
    padding: 20px 100px 0 15px;
  }

  .main-line {
    margin-top: 100px;
    width: 327px;
  }

  main .main_box {
    width: 1124px;
    height: 370px;
  }

  .main_Trumpet {
    padding: 0;
    width: 623px;
    height: 370px;
  }
  .main_Trumpet .main_nag {
    padding-top: 70px;
  }
  .main_Trumpet .main_one {
    width: 623px;
  }
  .main_Trumpet .main_txt {
    padding: 30px 0 0 15px;
    width: 100%;
  }

  .main_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_img .img_baner {
    width: 150px;
    height: 150px;
    left: 125px;
    top: 25%;
  }
}
@media (min-width: 1200px) {
  .main_box .img_baner {
    left: 210px;
    top: 20%;
  }
}
.main_pricing {
  background-color: #FFFFFF;
}

.main_pricing .conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.pricing {
  width: 100%;
  margin-bottom: 100px;
}

.pricing_nag {
  margin: 0 auto;
  font-family: Raleway;
  font-size: 1.9rem;
  color: #000000;
  padding: 60px 0 14px 0;
}

.pricing_box {
  width: 293px;
  height: 281px;
  border: 1px solid #FB3B64;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 20px;
  margin: 50px auto;
}

.pricing_text {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding: 60px 0 0 40px;
}
.pricing_text .pricing_box-nag {
  font-family: Raleway;
  font-size: 1.25rem;
  color: #13253B;
}

.pricing_box-txt {
  font-size: 2.8rem;
  font-family: "Open Sans";
  color: #FB3B64;
  text-align: center;
}

.pricing_box-list {
  line-height: 41px;
  padding: 10px 10px 0 0;
  font-size: 0.9rem;
  font-family: "Open Sans";
  color: #000000;
}

.pricing_box li::before {
  content: "";
  background-image: url("../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border: 1px solid #55DFB4;
  border-radius: 2px;
  color: #55DFB4;
  margin-right: 10px;
  width: 11px;
  height: 11px;
}
.pricing_box .li_X::before {
  content: "";
  background-image: url("../assets/Close.svg");
  border: 0 solid #FB3B64;
}

.pricing_box {
  position: relative;
}

.pricing_btn {
  padding: 16px 57px;
  background-color: #EB476E;
  border-radius: 50px;
  position: absolute;
  bottom: -10%;
  right: 22.5%;
  text-decoration: none;
  color: #FFFFFF;
}

.pricing_blue {
  width: 339px;
  height: 297px;
  border-color: #08A6E4;
}
.pricing_blue .pricing_box-txt {
  color: #08A6E4;
}
.pricing_blue .pricing_btn {
  background-color: #08A6E4;
  right: 27%;
  bottom: -9%;
}

.pricing_green {
  border-color: #55DFB4;
}
.pricing_green .pricing_box-txt {
  color: #55DFB4;
}
.pricing_green .pricing_btn {
  background-color: #55DFB4;
}

.limited {
  font-family: Raleway;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .pricing {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
  }

  .pricing_box {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    order: 0;
  }
  .pricing_box .pricing_text {
    padding: 0;
  }

  .pricing_nag {
    margin-bottom: 50px;
    padding-right: 50px;
  }

  .pricing_green {
    margin-top: 60px;
  }

  .pricing_btn {
    bottom: -25px;
  }

  .pricing_blue {
    line-height: 10px;
  }
  .pricing_blue .pricing_btn {
    bottom: -25px;
  }

  .pricing_box-list {
    padding: 0 0 10px 0;
    text-align: center;
  }
}
@media (min-width: 990px) {
  .pricing {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
  }

  .pricing_box {
    height: 461px;
    width: 372px;
  }

  .pricing_red {
    margin-top: 20px;
  }
  .pricing_red .pricing_box-txt {
    padding-bottom: 69px;
  }

  .pricing_green {
    margin-top: 20px;
  }

  .limited {
    padding-bottom: 61px;
  }

  .pricing_blue {
    height: 500px;
    width: 405px;
  }

  .pricing_btn {
    position: absolute;
    bottom: -25px;
    right: 100px;
  }
}
.pricing_nag {
  padding: 100px 0 0 0;
}

.calc {
  padding: 80px 0;
  background-color: #F7F7F7;
}
@media (max-width: 1024px) {
  .calc {
    padding: 30px 15px;
  }
}
.calc h2 {
  text-align: center;
  font-size: 2rem;
}
.calc__columns {
  max-width: 865px;
  margin: 50px auto 0;
  display: flex;
}
@media (max-width: 1024px) {
  .calc__columns {
    display: block;
  }
}
.calc__form {
  width: 50%;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .calc__form {
    width: 100%;
    margin-right: 0;
  }
}
.calc input[type=checkbox] {
  width: 24px;
  height: 24px;
  color: #A5A5A5;
}
.calc .consent__text {
  font-family: "Open Sans";
  font-size: 0.8rem;
  color: #A5A5A5;
}
.calc__input input, .calc__select .select__input {
  color: #A5A5A5;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  padding: 11px 20px;
  line-height: 1em;
  font-size: 0.8125rem;
  box-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.calc__input input::-moz-placeholder {
  color: #A5A5A5;
}
.calc__input input:-ms-input-placeholder {
  color: #A5A5A5;
}
.calc__input input::placeholder {
  color: #A5A5A5;
}
.calc__select {
  position: relative;
}
.calc__select .select__input {
  position: relative;
  height: 12px;
  vertical-align: middle;
  padding: 13px 20px;
  cursor: pointer;
}
.calc__select .select__input::after {
  content: "";
  background-image: url("../assets/Arrow.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 14px;
  top: 9px;
}
.calc__select .select__dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FB3B64;
  overflow: hidden;
}
.calc__select .select__dropdown li {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
}
.calc__select .select__dropdown li:hover {
  background-color: #F7F7F7;
}
.calc__select.open .select__input::after {
  transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
  display: block;
}
.calc .form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.calc .form__checkbox .consent__text {
  padding-top: 4px;
}
.calc__summary {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .calc__summary {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.calc__summary .summary__total,
.calc__summary .list__item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 0.875rem;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
  display: flex;
}
.calc__summary .summary__total {
  width: 50%;
  align-self: flex-end;
  margin-top: 22px;
  padding: 8px 20px;
  background-color: #08A6E4;
}
.calc__summary .summary__total .total__price {
  font-size: 1.25rem;
  font-weight: 700;
}
.calc__summary .list__item {
  padding: 6px 20px;
  background-color: #55DFB4;
  margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
  font-weight: 700;
  font-size: 1.125rem;
}

@media (min-width: 990px) {
  .calc__summary {
    padding-left: 50px;
  }
}
.conteiner .formul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  position: relative;
}

.contac {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.contac_nag {
  font-size: 2.8rem;
  color: #000000;
  font-family: Raleway;
  padding-left: 30px;
}

.contac_txt {
  font-size: 1rem;
  color: #000000;
  font-family: "Open Sans";
  padding: 30px 0 0 30px;
}

.formul_img {
  padding: 15px 0 0 20px;
  display: flex;
  flex-direction: column;
}
.formul_img a {
  padding-left: 10px;
  padding-top: 10px;
  color: #A5A5A5;
  display: flex;
  align-items: center;
}
.formul_img img {
  padding-right: 10px;
}

.form {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

input {
  outline: none;
  border-style: none;
  padding: 10px;
}

input {
  border-bottom: 1px solid #08A6E4;
}

label[for=name] {
  font-size: 0.7rem;
  color: #08A6E4;
  padding-left: 10px;
}

label[for=email] {
  font-size: 0.7rem;
  color: #08A6E4;
  padding: 20px 0 0 10px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
}

.checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #95989A;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 4px;
}

.checkbox input:checked + span {
  background-image: url("../assets/Checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox {
  font-size: 0.6rem;
  color: #A5A5A5;
  padding: 10px 0 0 10px;
}

.form_btm {
  position: absolute;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  border-radius: 35px;
  opacity: 1;
  bottom: -80px;
  right: 10px;
  padding: 10px 60px;
  text-decoration: none;
  font-family: Open Sans;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 18px;
}

.footer {
  width: 100%;
  height: 89px;
  background: #F7F7F7;
  box-shadow: 0 -5px 40px #00000029;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 136px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer_baner a {
  font-family: Raleway;
  color: #08A6E4;
  font-size: 26px;
  text-decoration: none;
}

.footer_baner p {
  font-family: "Open Sans";
  color: #A5A5A5;
  font-size: 11px;
  margin-top: 6.5px;
}

.footer .icon img {
  padding: 10px;
}

@media (min-width: 990px) {
  .formul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }

  .form {
    width: 440px;
    height: 157px;
    padding-top: 10px;
  }

  .contac {
    width: 40%;
  }

  .formul_img {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}
/*# sourceMappingURL=main.css.map */
