

$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-green:#55DFB4;
$color-black: #000000;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-hover:#A5A5A5;
$cyrcle-one:#FB3B64;
$main-border:1px solid #E8E9ED;
$main-radius:5px;





