//---------------------mixiny
@mixin flex-fs() {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin flex-fcol(){
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
@mixin bg-posysion(){
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin flex-fsb(){
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@mixin flex-fsa(){
  display: flex;
  justify-content: space-around;
  align-content: center;
}

@mixin flex-column(){
  display: flex;
  flex-direction: column;
}
@mixin flex-wrap(){
  display: flex;
  flex-wrap: wrap;
}
@mixin btn(){
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 0 92px;
  background-color:$color-primary;
  border-radius: 30px;
  color: $color-white;
  margin: 30px 10px 0 10px;
  text-decoration: none;

}
@mixin notebook {
  @media (max-width: 1352px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 792px) {
    @content;
  }
}

