header {
  @include flex-fcol;
  background-color: $color-white;
  width: 100%;

}

.conteiner {
  @include flex-fsb;

}

.nav {
  box-shadow: 0 3px 6px #00000029;
  background-color: $color-white;
  @include flex-fsb;
  position: relative;

}

#hamburger {
  opacity: 1;
  position: absolute;
  left: -9999px;
}

.hamburger {
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: flex;
  align-self: center;
  position: relative;
  margin-right: 20px;


}

%hamburger-icon {
  width: 18px;
  height: 2px;
  background: $color-primary;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  transition: .3s all linear;

  }


.hamburger_icon {
  position: relative;
  @extend %hamburger-icon;

  &::before,
  &::after {
    @extend %hamburger-icon;
    content: "";
    position: absolute;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

  &:hover {

    &::before {
      transform: rotate(90deg);
      top: 0;
      transition: 0.3s all linear;

    }
  }
}
.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger:hover .hamburger_icon {
  transform: rotate(45deg);
  &::before {
    transform: rotate(90deg);
    top: 0;
    transition: 0.3s all linear;
  }
  &::after {
    transform: rotate(1deg);
    top: 0;
    transition: 0.3s all linear;
  }
}




.logo {
  padding: 16px 0 16px 25px;
  font-size: 2rem;
  text-decoration: none;
  color: $color-primary;
  font-family: Raleway;
  font-weight: 300;
}

.menu {
  display: none;
  box-shadow: $color-primary-shadow;
  background-color: $color-white;
  letter-spacing: 3px;


}

#hamburger:checked ~ .menu {
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100vw;
  padding-left: 20px;

}

.menu_list-li {
  font-size: .8rem;
  padding: 0 3px;
  margin: 0 25px;
  display: flex;
  align-items: center;


  a {
    font-family: "Open Sans";
    font-weight: bold;
    color: $color-hover;
    text-decoration: none;
    padding: 25px 0;

  }
  .listA {
    color: $color-black;
  }

}

.baner .conteiner {
  @include flex-fcol;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;


}

.baner_nag {
  font-size: 2.2rem;
  font-family: Raleway;
  color: $color-black;


}

.baner_nag-txt {
  font-size: 1rem;
  font-family: "Open Sans";
  color: $color-black;
  padding: 20px 100px;
  line-height: 25px;
}

.baner_btn {
  @include btn;


}

.baner img {
  width: 100%;
  padding-top: 80px;

}


@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
    box-shadow: none;
    padding-right: 30px;

    .menu_list {
      display: flex;
      justify-content: right;
      align-items: center;

      .menu_list-li {
        //padding: 25px 5px;
        //margin: 0 15px;
        border-bottom: 4px solid transparent;

        &:hover {
          border-color: $color-primary;

        }
      }
      a:hover {
        color: $color-black;
      }
    }
  }
}

@media (min-width: 990px) {
  .baner_btn {
    padding: 0;

  }
  .section_nag-txt {
    padding-top: 20px;
  }
  .section_box {
    padding: 0 90px;
  }
  .conteiner {
    .section_box-basic {
      padding-top: 101px;
      display: flex;
      justify-content: center;
    }

  }
}