.main_pricing {
  background-color: $color-white;
}

.main_pricing .conteiner {
  @include flex-fcol;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;


}
.pricing {
  width: 100%;
  margin-bottom: 100px;
}

.pricing_nag {
  margin: 0 auto;
  font-family: Raleway;
  font-size: 1.9rem;
  color: $color-black;
  padding: 60px 0 14px 0;

}

.pricing_box {
  width: 293px;
  height: 281px;
  border: 1px solid #FB3B64;
  @include flex-fsb;
  border-radius: 20px;
  margin: 50px auto;

}

.pricing_text {
  @include flex-column;
  line-height: 50px;
  padding: 60px 0 0 40px;

  .pricing_box-nag {
    font-family: Raleway;
    font-size: 1.25rem;
    color: #13253B;
  }
}

.pricing_box-txt {
  font-size: 2.8rem;
  font-family: "Open Sans";
  color: $cyrcle-one;
  text-align: center;

}

.pricing_box-list {
  line-height: 41px;
  padding: 10px 10px 0 0;
  font-size: .9rem;
  font-family: "Open Sans";
  color: $color-black;
}

.pricing_box {
  li {
    &::before {
      content: "";
      background-image: url("../assets/Checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      border: 1px solid $color-green;
      border-radius: 2px;
      color: $color-green;
      margin-right: 10px;
      width: 11px;
      height: 11px;

    }
  }

  .li_X {
    &::before {
      content: "";
      background-image: url("../assets/Close.svg");
      border: 0 solid $cyrcle-one;


    }
  }
}


.pricing_box {
  position: relative;
}

.pricing_btn {
  padding: 16px 57px;
  background-color: #EB476E;
  border-radius: 50px;
  position: absolute;
  bottom: -10%;
  right: 22.5%;
  text-decoration: none;
  color: $color-white;
}

.pricing_blue {
  width: 339px;
  height: 297px;
  border-color: $color-primary;

  .pricing_box-txt {
    color: $color-primary;
  }

  .pricing_btn {
    background-color: $color-primary;
    right: 27%;
    bottom: -9%;

  }
}


.pricing_green {
  border-color: $color-green;

  .pricing_box-txt {
    color: $color-green;
  }

  .pricing_btn {
    background-color: $color-green;

  }
}

.limited {
  font-family: Raleway;
  font-weight: bold;
  color: $color-black;
  text-align: center;
  font-size: .9rem;
}

@media (min-width: 768px) {
  .pricing {
    @include flex-fsa;
    flex-wrap: wrap;


  }
  .pricing_box {
    margin: 0 30px;
    @include flex-fcol;
    align-items: center;
    height: 400px;
    order: 0;

    .pricing_text {
      padding: 0;
    }

  }
  .pricing_nag {
    margin-bottom: 50px;
    padding-right: 50px;
  }
  .pricing_green {
    margin-top: 60px;
  }
  .pricing_btn {
    bottom: -25px;
  }
  .pricing_blue {
    line-height: 10px;

    .pricing_btn {
      bottom: -25px;
    }
  }
  .pricing_box-list {
    padding: 0 0 10px 0;
    text-align: center;
  }
}

@media (min-width: 990px) {
  .pricing {
    @include flex-center;
    flex-wrap: nowrap;
  }
  .pricing_box {
    height: 461px;
    width: 372px;

  }
  .pricing_red {
    margin-top: 20px;

    .pricing_box-txt {
      padding-bottom: 69px;
    }
  }

  .pricing_green {
    margin-top: 20px;

  }
  .limited {
    padding-bottom: 61px;
  }
  .pricing_blue {
    height: 500px;
    width: 405px;
  }
  .pricing_btn {
    position: absolute;
    bottom: -25px;
    right: 100px;
  }
}
.pricing_nag {
  padding: 100px 0 0 0;
}